.Button-button {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	color: #ffffff;
	font-size: 22px;
	background: #000000;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
	box-sizing: border-box;
    margin-top: 0.5em;
    display: inline-block;
    text-align: center;
	width: 45%;
	border-width: 0px;
}
.Button-button:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	background:#FF0099;
	border-width: 0px;
}
.Button-button:active {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0px;
	background: #ff0099;
	text-decoration: none;
	border: 0px solid #000000;
}


.Glitch {
    float: right;
}
        
.Load.Image {
    float: left;
}